// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Google colors
$blue: #185ABC;
$white: #ffffff;
$green: #34A853;
$yellow: #F9AB00;
$red: #D93025;
$gray : #5F6368;
$lightGray : #b6b7b8;